

.main-container{
    display: grid;
    grid-template-columns: 5fr 2fr;
}
.aside-left{
    padding: 7% 7%;
}
.explore{
    letter-spacing: 10px;
}


@media only screen and (max-width:575px) {
    
    
    .main-container{
        display: flex;
        flex-direction: column-reverse;
        
    }
    
}
